*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #555;

    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}

.button{
    width: 100%;
    padding: 8px 15px;
    position: static;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 8px;
    background-color: #4CAF50;
    color: #fff;
    border-color: #fff;
    
}

.button:hover, .success:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: #065c09;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    border-radius: 10px;
    
}

.container h2{
    padding-top: 15px;
    text-align: center;
    color: #4CAF50;
}

.container p{
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .success{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 8px;
    background-color: #4CAF50;
    color: #fff;
    border-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .congrat {
    margin-bottom: 20px;
  }

.legal{
    font-size: 12px;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 8px;
}

.form-group label{
    display: block;
}

.form-group input[type="text"], [type="email"], [type="tel"], [type="date"], [type="color"], [type="password"], .form-group select{
    width: 100%;
    border-radius: 8px;
    border-color: rgb(149, 145, 145);
    height: 25px;
}


